main img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    transition: all .3s;
}

main {
    img:hover, img:focus {
        cursor: pointer;
        transform: scale(1.05);
        filter: opacity(0.8);
    }
}