#grid {
    font-family: sans-serif;
}

.card {
  border: 1px solid gray;
  &:hover {
    box-shadow: none;
    transform: scale(1.02);
  }
  img {
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    width: 100%;
    height: auto;
    object-fit: cover;
  }
}

form {
  #drop-file {
    width: 100%;
    height: 400px;
    border: 1px dashed #c3c3c3;
    border-radius: 0.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    text-align: center;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: #c3c3c3;
      cursor: pointer;
    }
    .bi {
      font-size: 50px;
    }
    .drop-file-image-upload {
      display: none;
      img {
        width: auto;
        height: 255px;
        object-fit: cover;
      }
    }
  }
}

#ultimas-publicacoes {
  .card-body{
    border-top: none;
  }
}