.spacer{
    height: 150px;
}

nav {
    height: 150px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3);
    transition: all .5s;

    // backgournd banner image with opacity
    background: url('../images/banner.png') center center;
    
    .navbar-toggler {
        border: 1px white solid;
        &:focus {
            box-shadow: #fff 0 0 0 0.25rem;
        }
    }
    

    h2 {
        font-size: 30px;
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: 700;
        p{
            font-weight: 300;
        }
    }
    .navbar-nav {
        align-items: center;
        .dropdown-item {
            border-radius: 0.25rem;
            &:hover {
                background: #b3b3b3;
            }
        }
        
    }

    .collapse {
        .li-hover {
            border-bottom: 3px transparent solid;
            
        }
        .li-hover:hover {
            border-bottom: 3px #f5f5f5 solid;
            cursor: pointer;
            color: #ffffff;
        }
    }

    .navbar-collapse {
        background-color: transparent;
        .nav-link {
            padding: 10px;
            font-weight: 700;
            color: white;
            text-shadow: 0px 0px 6px #000;
            
        }
    }

    ul.show {
        background-color: white;
        box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3);
        
    }

    @media (max-width: 768px) {        
        .show {
            background-color: #333333;
            border-radius: 10px;
        }

        .navbar-nav {
            border: rgba(51, 51, 51, 0.7) 1px solid;
            border-radius: 10px;
            
            li {
                width: 100%;
            }
        }
    }

    .logo-div{
        transition: all .5s;
        
        // text shadow for black background
        text-shadow: 0px 0px 6px #000;
    }
    .logo {
        width: 80px;
    }
}

@media (max-width: 767.98px) {
    nav {
        height: 94px;
        .logo-div {
            transform: scale(0.6) !important;
        }
        background-color: rgba(255, 255, 255, 0.2);
    }   
    .spacer {
        height: 94px;
    }
}

.scroll {
    height: 94px;
}

a {
    cursor: pointer;
}

.login, .register {
    display: none;
    position: fixed;
    z-index: 1031;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    .img {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        align-items: center;
    }

    #closeLogin, #closeRegister{
        height: 40px;
        width: 40px;
    }

    .login-content, .register-content {
        background-color: #fefefe;
        margin: 5% auto;
        border: none;
        padding: 20px;
        width: 80%;
        min-height: 536px;
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
    }
}

.display-block {
    display: block;
    body {
        overflow: hidden;
    }
}