.spacer{
    height: 150px;
}

nav {
    height: 150px;
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.3);
    transition: all .5s;

    h1 {
        font-size: 25px;
        font-family: 'Merriweather Sans', sans-serif;
        font-weight: 700;
        p{
            font-weight: 300;
        }
    }
    .navbar-nav {
        align-items: center;
    }

    .collapse {
        .li-hover {
            border-bottom: 3px transparent solid;
            transition: all .3s;
            font-weight: 700;
        }
        .li-hover:hover {
            border-bottom: 3px #000 solid;
            cursor: pointer;
        }
    }

    .navbar-collapse {
        background-color: #f2f1eb;
        .nav-link {
            padding: 10px;
        }
    }
    .logo-div{
        transition: all .5s;
    }
    .logo {
        width: 80px;
    }
}

@media (max-width: 767.98px) {
    nav {
        height: 94px;
        .logo-div {
            transform: scale(0.6) !important;
        }
        background-color: rgba(255, 255, 255, 0.2);
    }   
    .spacer {
        height: 94px;
    }
}

.scroll {
    height: 94px;
}

a {
    cursor: pointer;
}

.login, .register {
    display: none;
    position: fixed;
    z-index: 1031;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    .img {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        align-items: center;
    }

    #closeLogin, #closeRegister{
        height: 40px;
        width: 40px;
    }

    .login-content, .register-content {
        background-color: #fefefe;
        margin: 5% auto;
        border: none;
        padding: 20px;
        width: 80%;
        min-height: 536px;
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
    }
}

.display-block {
    display: block;
    body {
        overflow: hidden;
    }
}