body {
    margin-top: 160px;
}

nav {
    height: 150px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    transition: all .5s;
    background-color: white;

    h1 {
        transition: all .5s;
    }

    .collapse {
        .li-hover {
            border-bottom: 3px transparent solid;
            transition: all .3s;
        }
        .li-hover:hover {
            border-bottom: 3px #000 solid;
            cursor: pointer;
        }
    }

    .navbar-collapse {
        background-color: rgb(248, 249, 250);
        .nav-link {
            padding: 10px;
        }
    }
}

@media (max-width: 767.98px) {
    nav {
        height: 94px;
        h1 {
            font-size: 1.25rem
        }
    }   
}

.scroll {
    height: 94px;
}

form a {
    cursor: pointer;
}

.login {
    display: none;
    position: fixed;
    z-index: 1031;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    .img {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        align-items: center;
    }

    #closeLogin{
        height: 40px;
        width: 40px;
    }

    .login-content {
        background-color: #fefefe;
        margin: 10% auto;
        border: none;
        padding: 20px;
        width: 80%;
        min-height: 420px;
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
    }
}

.register {
    display: none;
    position: fixed;
    z-index: 1031;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    .img {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        align-items: center;
    }

    #closeRegister{
        height: 40px;
        width: 40px;
    }

    .register-content {
        background-color: #fefefe;
        margin: 5% auto;
        border: none;
        padding: 20px;
        width: 80%;
        min-height: 420px;
        box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
    }
}

.display-block {
    display: block;
}