<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta leng>

    @entryPointScripts('app')
    @entryPointStyles('app')

    @!section('meta')

    <title>{{ title }}</title>
  </head>
  <body>
    {{inspect(flashMessages.all())}}
    @if(flashMessages.get('errors.success'))
      <div class="alert-card">
        {{flashMessages.get('errors.success')}}
        <a><i class="bi bi-x alert-btn"></i></a>
      </div>
    @endif
    
    
    @!section('content')  
  </body>
</html>
